.profile {
    display: flex;
    padding: 15px;
}

.profile__photo {
    max-width: 100px;
    max-height: 100px;
}

.profile__info {
    padding: 0 15px;
}

.profile__info h2,
.profile__info p {
    margin: 0;
    padding: 0;
}