.newPost {
    padding: 0 15px 15px;
}

.button {
    display: block;
    width: 100px;
    background: #8fbc8f;
    border: 1px solid #1b5a1b;
    border-radius: 10px;
}

.button:hover {
    background: #1b5a1b;
    color: #f8f8ff;
}

.likes {
    font-size: 10px;
}