.userCard {
    display: flex;
    width: 75%;
    margin: 10px;
}

.userCard__userPhoto {
    padding-top: 15px;
    width: 80px;
    height: 80px;
}

.userCard__userInfo {
    padding: 10px;
    width: 40%;
}

.userCard__userInfo h3 {
    margin: 0;
    padding: 0;
}

.friendshipButton {
    padding-top: 45px;
    width: 20%;
}