.header {
    grid-area: header;
    background: antiquewhite;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 100px;
    max-height: 50px;
}

.header__login {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.header__button {
    height: 20px;
    margin: auto 0;
}

.header a {
    text-decoration: none;
}