.nav {
    grid-area: nav;
    background: burlywood;
}

.nav-list {
    padding: 0 20px;
}

.nav-list__item {
    padding: 0;
    list-style-type: none;
}

.nav-list__item a {
    text-decoration: none;
    color: dimgray;
}

.nav-list__item a:hover {
    color: #111;
}

.nav-list__item a.active {
    color: sienna;
    font-weight: bold;
}