.login {
    width: 200px;
    height: 250px;
    margin: 5% auto;
    padding: 20px;
    background-color: #eeeaea;
}

.login__label {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
}

.login__input {
    width: 100%;
}

.login label {
    display: block;
    margin: 10px 0;
}

.login__button {
    width: 100%;
    height: 30px;
    background-color: #f1b190;
    border: none;
}

.login__button:hover {
    background-color: sienna;
    font-weight: bold;
}

.login__button:disabled {
    background-color: #eeeaea;
}

.error {
    color: red;
}